[data-theme="dark"] {
  --plainWhite: #ffffff;
  --textHeading: #fafafa;
  --textSubHeading: #61646c;
  --textParagraph1: #85888e;
  --textParagraph2: #61646c;
  --textDisabled: #61646c;
  --textInverse: #0c111d;
  --textInverseSubtler: #f5f5f6;
  --textSuccess: #074d31;
  --textDanger: #7a271a;
  --textWarning: #7a2e0e;
  --textInverseSubtle: #cecfd2;
  --textDisabledLighter: #cecfd2;
  --bgSurface: #0c111d;
  --bgSurfaceRaised: #1f242f;
  --bgSurfaceOverlay: #ffffff;
  --bgSurfaceSunken: #61646c;
  --bgSurfaceSunkenSubtle: #161b26;
  --bgBrand: #fafafa;
  --bgSuccessActive: #079455;
  --bgSuccessHover: #17b26a;
  --bgSuccess: #dcfae6;
  --bgSuccessSubtler: #47cd89;
  --bgDanger: #b42318;
  --bgDangerSubtler: #fef3f2;
  --bgDangerActive: #d92d20;
  --bgDangerHover: #f04438;
  --bgBrandHover: #f0f1f1;
  --bgBrandActive: #ececed;
  --bgSurfaceSunkenSubtler: #161b2680;
  --bgWarning: #b54708;
  --bgWarningSubtler: #fffaeb;
  --bgWarningHover: #fec84b;
  --bgWarningActive: #fdb022;
  --bgBrandSubtle: #ececed;
  --bgLogo: #0c111d;
  --iconBolder: #0c111d;
  --iconBold: #1f242f;
  --iconSubtler: #61646c;
  --iconSubtle: #85888e;
  --iconDisabled: #94969c;
  --iconInverse: #0c111d;
  --iconInverseHover: #f5f5f6;
  --iconSuccess: #17b26a;
  --iconDanger: #f04438;
  --iconWarning: #fec84b;
  --iconBolderHover: #85888e;
  --iconBolderActive: #85888e;
  --iconBoldHover: #85888e;
  --iconBoldActive: #61646c;
  --iconSubtlerHover: #94969c;
  --iconSubtlerActive: #85888e;
  --iconSubtleHover: #cecfd2;
  --iconSublteActive: #94969c;
  --iconInverseActive: #ececed;
  --borderSubtler: #f0f1f1;
  --borderSubtle: #333741;
  --borderBold: #5f61694d;
  --borderBolder: #61646c;
  --borderBrand: #fafafa;
  --borderSuccess: #079455;
  --borderDanger: #d92d20;
  --borderWarning: #dc6803;
  --borderBrandSubtle: #0c111d1a;
  --borderInverse: #ffffff;
  --borderSuccessDarker: #067647;
  --gradientStops1: #f0f1f1;
  --gradientStops2: #ececed;
}
